@media (max-width: 300px) {
    .custom-max-300-xs {
        font-size: 0.75rem; /* 12px */
        line-height: 1rem; /* 16px */
    }

    .flecheBlancheDroite {
        position: absolute;
        top: 50%;
        transform: scale(0.7) translateY(-50%);
        right: 0;
    }
    .flecheBlancheGauche {
        position: absolute;
        top: 50.5%;
        transform: scale(0.7) rotate(180deg) translateY(50%);
        left: 0;
    }
}
