@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../styles/presentation/flecheBlanche.css');

@font-face {
    font-family: 'Roboto Serif';
    src: url('../../public/font/robotoSerif/RobotoSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../public/font/robotoSerif/RobotoSerif-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

p {
    font-family: 'Roboto Serif', serif;
}

.boutonCyanCss {
    margin-top: 32px;
    border-radius: 4px;
    background-color: rgb(20 184 166);
    padding: 8px 8px 4px 8px;
    color: #fff;
    white-space: nowrap;
    width: min-content;
    min-height: min-content;
}

/* Par défaut, la taille du texte est small (sm) */
.textP {
    font-size: 14px; /* Tailwind's sm:text-base corresponds to 14px */
}

/* Pour les écrans de taille moyenne (md) et plus grands */
@media (min-width: 768px) {
    .textP {
        font-size: 16px; /* Tailwind's md:text-lg corresponds to 16px */
    }
}
.textH1 {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

/* Pour les écrans de taille moyenne (md) et plus grands */
@media (min-width: 768px) {
    .textH1 {
        font-size: 1.5rem/* 24px */;
        line-height: 2rem/* 32px */;
    }
}
