@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Roboto Serif';
  src: url('../../public/font/robotoSerif/RobotoSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../../public/font/robotoSerif/RobotoSerif-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


p{
  font-family: 'Roboto Serif', serif;
}


