.gradient-border-t::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 2px;
    background: linear-gradient(to right, #dc0b0b, #12caca);
}
.gradient-border-l::before {
    content: '';
    position: absolute;
    left: -69px;
    top: 70px;
    width: 140px;
    height: 2px;
    background: linear-gradient(to right, #dc0b0b, #12caca);
    transform: rotate(90deg);
}

@media (min-width: 768px) {
    .gradient-border-t::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 2px;
        background: linear-gradient(to right, #dc0b0b, #12caca);
    }
    .gradient-border-l::before {
        content: '';
        position: absolute;
        left: -74px;
        top: 74px;
        width: 150px;
        height: 2px;
        background: linear-gradient(to right, #dc0b0b, #12caca);
        transform: rotate(90deg);
    }
}
